body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #6d6f8d;
}

.switch-plan {
    display: flex;
    flex-flow: row nowrap;
}